app = "turn-receiver-worker"
primary_region = "fra"

[build]
  dockerfile = "../../base/Dockerfile"
  context    = "../.."

command = [
  "uvicorn",
  "workers.turn_receiver.main:app",
  "--host","0.0.0.0",
  "--port","8080"
]
