app = "turn-receiver-worker"
primary_region = "fra"

[build]
  dockerfile = "../../base/Dockerfile"
  context    = "../.."

# run FastAPI server
command = [
  "uvicorn",
  "workers.turn_receiver.main:app",
  "--host", "0.0.0.0",
  "--port", "8080"
]
